html,
body {
  color: #333333;
  font-family: Helvetica;
}

.title {
  font-size: 30px;
  line-height: 1.5;
  font-weight: 600;
  margin: 20px 0;
}

.sub-title {
  font-size: 26px;
  line-height: 1.3;
}

.col-content-container {
  padding: 50px 40px;
}

.title-space {
  margin-top: 100px;
}

.section-gradient {
  background: linear-gradient(to right,#12C3FA ,#1D9FF5, #4885ED, #2D75F0);
  padding: 30px;
}

footer {
  color: #ffffff;
  text-align: center;
}

.footer-text {
  font-size: 14px;
  padding: 20px;
  font-weight: lighter;
  margin-bottom: 0;
  color: #fff;
}

@media only screen and (max-width: 992px) {
  .video-background-mobile {
    background-image: url('images/header.jpg');
    background-size: cover;
    background-position: left;
    max-width: 100%;
    max-height: 100%;
    height: 400px;
  }

  .banner-content {
    position: relative;
  }

  .video-caption {
    padding: 20px 0;
  }

}
@media only screen and (max-width : 768px) {
  .col-content-container {
    padding: 10px 5px;
    text-align: center;
  }
  .title-space {
    margin-top: 10px;
  }
  .title {
    font-size: 25px;
    margin: 10px 0;
  }
  .sub-title {
    font-size: 20px;
  }
}

.no-padding {
  padding: 0;
}
.reveal {
  opacity: 1;
}

.video-background {
  z-index: 1;
  width: 100%;
}

.caption-section {
  height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scripbox-icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  -webkit-filter: drop-shadow(2px 2px 10px #222);
  filter: drop-shadow(2px 2px 10px #222);
}


.video-caption {
  font-size: 50px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: #555 1px 1px 10px;

}

.sb-cta-button {
  background: #3CBA54;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 32px;
  font-weight: 500;
  padding: 8px 30px;
  margin: 30px 0 10px;
  display: inline-block;
  cursor: pointer;
}

.banner-content {
  position: absolute;
  top: 150px;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .banner-content {
    top: 0;
    max-width: 700;
    padding: 100px;
  }

  .video-caption {
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: #555 1px 1px 10px;
    margin-bottom: 0;
  }

  .btn-margin {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 768px) {

  .banner-content {
    margin-top: 15px;
    max-width: 100%;
    padding: 40px;
  }

  .video-caption {
    font-size: 30px;
  }

  .sb-cta-button {
    margin-bottom: 0;
    width: auto;
  }

  .play-video {
    margin-top: -22px;
  }

  .section-3 {
    padding: 0;
  }
}

.image-info-container {
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.contact-description{
  margin-top: 10px;
  color: #fff;
  text-align: center;
}

.contact-info-bold {
  font-weight: 600;
  font-size: 16;
  color: #fff;
  text-align: center;
}

.contact-image {
  border-radius: 50%;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .subscribe-email-container {
    width: 300px !important;
  }
}
