html,
body {
  color: #333333;
  font-family: Helvetica;
}

.title {
  font-size: 30px;
  line-height: 1.5;
  font-weight: 600;
  margin: 20px 0;
}

.sub-title {
  font-size: 26px;
  line-height: 1.3;
}

.col-content-container {
  padding: 50px 40px;
}

.title-space {
  margin-top: 100px;
}

.section-gradient {
  background: linear-gradient(to right,#12C3FA ,#1D9FF5, #4885ED, #2D75F0);
  padding: 30px;
}

footer {
  color: #ffffff;
  text-align: center;
}

.footer-text {
  font-size: 14px;
  padding: 20px;
  font-weight: lighter;
  margin-bottom: 0;
  color: #fff;
}

@media only screen and (max-width: 992px) {
  .video-background-mobile {
    background-image: url('images/header.jpg');
    background-size: cover;
    background-position: left;
    max-width: 100%;
    max-height: 100%;
    height: 400px;
  }

  .banner-content {
    position: relative;
  }

  .video-caption {
    padding: 20px 0;
  }

}
@media only screen and (max-width : 768px) {
  .col-content-container {
    padding: 10px 5px;
    text-align: center;
  }
  .title-space {
    margin-top: 10px;
  }
  .title {
    font-size: 25px;
    margin: 10px 0;
  }
  .sub-title {
    font-size: 20px;
  }
}

.no-padding {
  padding: 0;
}
.reveal {
  opacity: 1;
}

.video-background {
  z-index: 1;
  width: 100%;
}

.caption-section {
  height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scripbox-icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  -webkit-filter: drop-shadow(2px 2px 10px #222);
  filter: drop-shadow(2px 2px 10px #222);
}


.video-caption {
  font-size: 50px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: #555 1px 1px 10px;

}

.sb-cta-button {
  background: #3CBA54;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 32px;
  font-weight: 500;
  padding: 8px 30px;
  margin: 30px 0 10px;
  display: inline-block;
  cursor: pointer;
}

.submit {
  text-align: center;
  color: #C0C0C0;
}

.banner-content {
  position: absolute;
  top: 150px;
  text-align: center;
}

.details-form {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  max-height: 900px;
  max-width: 700px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 0;

}

.form-size {
  padding: 0;
}

.thankyou {
  display: none;
  text-align: center;
}

.submitted {
  margin-top: 200px;
  margin-bottom: 50px;
}

.thanku-text {
  font-weight: light;
  font-size: 40px;
  line-height: 1.4;
}

.closing-content {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 30px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 50px;
  padding-bottom: 100px;
}

.form-size {
  max-height: 750px;
  max-width: 600px;
}

.input-text {
  margin-bottom: 5px;
}

input:focus + label {
  color: #3075EA;
}

.first-name {
  transform: translate(0, -90px);
  color: #333;
}

.email {
  transform: translate(0, -110px);
  color: #333;
  margin-bottom: -8px;
}

.phone {
  transform: translate(0, -110px);
  color: #333;
}

.company {
  margin-bottom: 5px;
  transform: translate(0, -90px);
  color: #333;
}

.contact-form{
  margin: 0 auto;
  max-width: 100%;
}

@media only screen and (max-width: 1024px) {
  .banner-content {
    top: 0;
    max-width: 700;
    padding: 100px;
  }

  .video-caption {
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: #555 1px 1px 10px;
    margin-bottom: 0;
  }

  .btn-margin {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 768px) {
  .form-size {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  .details-form {
    max-width: 100%;
    max-height: 900px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    border-radius: 0;
  }

  .banner-content {
    margin-top: 15px;
    max-width: 100%;
    padding: 40px;
  }

  .video-caption {
    font-size: 30px;
  }

  .sb-cta-button {
    margin-bottom: 0;
    width: auto;
  }

  .play-video {
    margin-top: -22px;
  }

  .section-3 {
    padding: 0;
  }
}

.subscribe-email-container {
  border-radius: 0;
  padding: 20px !important;
  max-width: 340px !important;
  background-color: #fff;
}
.subscribe-mailtrain-button {
  color: #fff;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 10px 16px 10px 16px;
  background: #3cba54;
  font-size: 18px;
}
.subscribe-mailtrain-button:focus {
  outline: none;
}

.subscribe-mailtrain-input-info {
  color: #f44336;
  margin-top: 10px;
}

.mailtrain-input-box {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.hide {
  display: none;
}

label {
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

input {
  text-decoration: none;
  height: 35px;
  margin-bottom: 20px;
}

.blog-subscribe-success-message {
  color: #00a651;
  margin-top: 10px;
}
}

@media only screen and (max-width: 767px) {
  .subscribe-email-container {
    width: 300px !important;
  }
}
