.reveal {
  opacity: 1;
}

.video-background {
  z-index: 1;
  width: 100%;
}

.caption-section {
  height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scripbox-icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  -webkit-filter: drop-shadow(2px 2px 10px #222);
  filter: drop-shadow(2px 2px 10px #222);
}

.no-padding {
  padding: 0;
}

.video-caption {
  font-size: 50px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: #555 1px 1px 10px;

}

.sb-cta-button {
  background: #3CBA54;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 22px;
  font-weight: 500;
  padding: 8px 30px;
  margin: 30px 0 10px;
  display: inline-block;
  cursor: pointer;
}

.submit {
  text-align: center;
  color: #C0C0C0;
}

.banner-content {
  position: absolute;
  top: 150px;
  text-align: center;
}

.caption-2 {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 30px;
  line-height: 1.15;
  font-weight: bold;
  margin-top: 100px;
}

.sub-heading {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 30px;
  line-height: 1.15;
  margin-bottom: 100px;
}

.section-3 {
  background: linear-gradient(to right,#12C3FA ,#1D9FF5, #4885ED, #2D75F0);
  width: 100%;
  text-align: center;
  padding: 100px;
  margin-top: 50px;
}

.details-form {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  max-height: 900px;
  max-width: 700px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 0;

}

.form-size {
  padding: 0;
}

.thankyou {
  display: none;
  text-align: center;

}

.important {
  color: red;
}

.submitted {
  margin-top: 200px;
  margin-bottom: 50px;
}

.thanku-text {
  font-weight: light;
  font-size: 40px;
  line-height: 1.4;
}

.closing-content {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 30px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 50px;
  padding-bottom: 100px;
}

.form-size {
  max-height: 750px;
  max-width: 600px;
}

body,
html {
  max-height: 100%;
  font-family: proxima-nova, sans-serif;
}

.input-text {
  margin-bottom: 5px;
}

input:focus + label {
  color: #3075EA;
}

.first-name {
  transform: translate(0, -90px);
  color: #333;
}

.email {
  transform: translate(0, -110px);
  color: #333;
  margin-bottom: -8px;
}

.phone {
  transform: translate(0, -110px);
  color: #333;
}

.company {
  margin-bottom: 5px;
  transform: translate(0, -90px);
  color: #333;
}
@media only screen and (max-width: 1024px) {
  .banner-content {
    top: 0;
    max-width: 700;
    padding: 100px;
  }

  .video-caption {
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: #555 1px 1px 10px;
    margin-bottom: 0;
  }

  .btn-margin {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 768px) {
  .sub-heading {
    text-align: center;
  }

  .caption-2 {
    text-align: center;
  }

  .form-size {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  .details-form {
    max-width: 100%;
    max-height: 900px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    border-radius: 0;
  }

  .banner-content {
    margin-top: 15px;
    max-width: 100%;
    padding: 40px;
  }

  .video-caption {
    font-size: 30px;
  }

  .sb-cta-button {
    margin-bottom: 0;
    width: auto;
  }

  .play-video {
    margin-top: -22px;
  }

  .section-3 {
    padding: 0;
  }
}
@media only screen and (max-width: 992px) {
  .background-img {
    background-image: url('images/header.jpg');
    background-size: cover;
    background-position: left;
    max-width: 100%;
    max-height: 100%;
  }

  .banner-content {
    position: relative;
  }

}
